* {
    font-family: 'Roboto', sans-serif;
}

.table table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 0.3px solid gray;
}

.table th, td {
    border: 0.3px solid gray;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table-cell {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.table-cell > img {
    width: 20px;
    height: 20px;
}

.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
}

.table span {
    font-size: 17px;
}

.control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.table button {
    background: #1677ff;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 20px;
    color: white;
    border-radius: 6px;
    border: solid #1677ff;
}

.table input {
    border-radius: 6px;
    padding: 5px 10px;
    border: solid gray;
    text-align: center;
    font-size: 16px;
    width: 50px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table select {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border-color: #ccc;
    background-color: #f9f9f9;
}

.table option {
    padding: 5px;
    font-size: 14px;
    color: #333;
}

.table .container {
    display: flex;
    gap: 10px;
}

.table .formItem {
    display: flex;
    flex-direction: column;
}

.table .formItem select {
    height: 100%;
}

.table .label {
    font-weight: bold;
    margin-bottom: 5px;
}

.table .dateInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.table .dateInput:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}
